@font-face {
  font-family: "museosans";
  src: url("/fonts/MuseoSans_700-webfont.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "museosans";
  src: url("/fonts/MuseoSans_500-webfont.woff") format('woff');
  font-weight: 500;
}

@font-face {
  font-family: "museosans";
  src: url("/fonts/MuseoSans_300-webfont.woff") format('woff');
  font-weight: 300;
}

body
  font-family: museosans
  font-weight: 500

.navbar
  background-color: #09264A

  .home-link
    color: #5AB552
    font-size: 1.25rem
    font-weight: 300

    &::after
      content: 'Developer'

    .logo
      height: 2.5rem !important
      margin-top: 0.1875rem
      margin-right: 0.3rem

  .links, .title
    background-color: transparent !important
    color: #CCC

.sidebar
  padding-top: 2.8rem

  .sidebar-heading
    border-left: none
    padding-bottom: 0.65rem

  //.arrow
  //  display: block
  //  border-left: none
  //  border-right: none
  //  border-top: #F6F6F6 4px solid
  //  width: 100%
  //  left: 0 !important
  //  top: 0.7rem !important
  //  margin-bottom: 0.7rem

  .sidebar-group-items
    margin-left: 1.25rem !important
    box-sizing: border-box
    border-top: #F6F6F6 4px solid
    border-bottom: #F6F6F6 4px solid
    margin-right: 2.25rem !important

  .sidebar-sub-headers
    margin-left: 1.25rem !important
    box-sizing: border-box
    border-top: #F6F6F6 4px solid
    border-bottom: #F6F6F6 4px solid
    padding-left: 0 !important

  .sidebar-link
    border-left: none  !important
    padding-left: 1.25rem !important
    margin-top: 0.65rem
    margin-bottom: 0.65rem
    padding-top: 0 !important
    padding-bottom: 0 !important
    font-size: 0.875rem
    font-weight: 700 !important

  .arrow
    display: none

  a
    color: #757575 !important

a.sidebar-link.active
  background-image: url('/side-nav-marker.svg')
  background-repeat: no-repeat
  color: #5AB552 !important
//.search-box
//  order: 1
//  margin-right: 0
//  margin-left: 6.6rem
//  line-height: 3rem
//  background: transparent
//
//  input
//    background: transparent !important
//    color: #FFF !important
//    border-color: #FFF !important
//
//  .suggestions
//    left: auto !important
//    right: 0 !important

//  height: 4.4rem
//  padding: 1rem 1.5rem !important
//  background-image: url('/circle-grn-1680.png')
//  background-repeat: no-repeat
//  background-position: top right
//  line-height: 2.5rem !important


//img.logo
//  margin-right: 0.1rem !important
//
//a.home-link
//  color: #5AB552
//  font-size: 1.2rem
//  font-weight: 300
//
//a.home-link::after
//  content: 'Developer'
//

//
//
//.links, .dropdown-wrapper .dropdown-title
//  background-color: transparent !important
//  color: #CCC !important
//
//.dropdown-wrapper .dropdown-title .arrow
//  border-top: 6px solid #CCC !important
//
//.nav-links .nav-item
//  margin-left: 3rem !important
//  line-height: 3rem !important
//
//.search-box
//  order: 1
//  margin-right: 0
//  margin-left: 6.6rem
//  line-height: 3rem
//  background: transparent
//
//  input
//    background: transparent !important
//    color: #FFF !important
//    border-color: #FFF !important
//
//  .suggestions
//    left: auto !important
//    right: 0 !important
//
//.sidebar
//  top: 7.2rem !important
//  font-weight: 700
//
//  .sidebar-heading
//    font-size: 1rem
//    color: #09264A !important
//
//  .arrow
//    display: block
//    border-left: none
//    border-right: none
//    border-top: #F6F6F6 4px solid
//    width: 100%
//    left: 0 !important
//    top: 0.7rem !important
//    margin-bottom: 0.7rem
//
//.sidebar-links
//  margin-left: 1.5rem !important
//  box-sizing: border-box
//
//a.sidebar-link
//  font-size: 0.88rem !important
//  margin-bottom: 0.7rem
//  padding: 0.35rem 1rem 0.35rem 0.5rem !important
//
//.sidebar-sub-headers
//  border-bottom: #F6F6F6 4px solid
//  border-top: #F6F6F6 4px solid
//  margin-left: 2.25rem !important
//  padding-left: 0 !important
//  padding-top: 0.7rem !important
//
//  a.sidebar-link
//    margin-bottom: 0 !important
//
//
//a.sidebar-link.active
//  color: #5AB552 !important
//
