//$wrapper
//  max-width $contentWidth
//  margin 0 auto
//  padding 2rem 2.5rem
//  @media (max-width: $MQNarrow)
//    padding 2rem
//  @media (max-width: $MQMobileNarrow)
//    padding 1.5rem

@media print, screen and (min-width: 1795px)
  .page-edit, .page-nav
    margin: 0 0 0 calc(calc(50% - 960px) + 20rem)
