.vp-site-name {
  display: none;
}

body {
  font-size: 15px;
}

body:has(#kapa-widget-container) .vp-back-to-top-button {
  bottom: 7.5rem!important;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../public/fonts/MuseoSans_100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../public/fonts/MuseoSans_300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../public/fonts/MuseoSans_500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
