//@media print, screen and (min-width: 1640px)
//  $left = max(calc(50% - 800px), 1rem)
//  .sidebar
//    padding-left: $left
//    width: "calc(%s + %s)" % ($left $sidebarWidth)
//  .page
//    padding-left: "calc(%s + 20rem)" % $left

