$text-color: (
  light: #2c3e50,
  dark: #d4d4d4,
);

// override code block background color
// updated by MM
#app {
  --code-c-bg: #fff;

  [data-theme="dark"] & {
    --code-c-bg: #fff;
  }
}

// override code block background color
pre[class*="language-"] {
  color: #fff !important;

  [data-theme="dark"] & {
    background-color: #fff !important;
  }
}
// mm change ends here


$sidebar-width: 18rem;

$font-family: 'Museo Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, "Microsoft YaHei", SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-family-heading: 'Museo Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", STHeiti, "Microsoft YaHei", SimSun, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-size: 15px;

