name: Lint
on: [pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Vale
        uses: errata-ai/vale-action@v1.0.4
        with:
          styles: |
            https://github.com/errata-ai/write-good/releases/latest/download/write-good.zip
            https://github.com/EventStore/Vale-Styles/archive/0.1.0.zip
            https://github.com/testthedocs/Openly/archive/0.1.0.zip
          config: https://raw.githubusercontent.com/EventStore/Style-Guide/master/.vale.ini?token=AAAKIYDY3ZWWCZSVNUPWMCC63IO6C
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
